body {
    margin: 0px;
    font-family: 'trebuchet MS', verdana, times, arial, Courier, monospace;
}

.link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.link-item {
    padding: 1em;
    border: 1px;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.put_the_logo_to_the_left {
    flex-direction: row;
    flex-wrap: wrap;
}

.put_the_logo_to_the_right {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.section-content {
    width: 600px;
}

.section-title {
    /*  rien de particulier */
}
img.section-logo {
    fill: background;
    display: block;
    margin: auto;
    /* width: 50%; */
    width: 10em;
}

img.link-icon {
    /* display: inline-block; */
    fill: white;
    height: 3em;
    /* width: 1.5em; */
    line-height: 1;
    /* padding: 0.5em; */
    /* position: relative; */
    top: -1px;
    /* vertical-align: middle; */
}

#profile-photo {
    display: block;
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 10%;
}

#profile-name,
#profile-abstract {
    text-align: center;
    padding-bottom: 20px;
}

h1,
h2 {
    text-align: center;
}

p.box-title {
    font-weight: bold;
    text-align: center;
}

table {
    text-decoration-style: none;
    border-collapse: collapse;
}

li {
    padding: 0.3em;
}
td {
    border: 0px solid #999;
    padding: 0.75rem;
}

input {
    border: none;
    background: #ddd;
    cursor: pointer;
}
input:hover {
    background: deepskyblue;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}

/* color the boxes */
.header {
    background-color: azure;
    margin: 0px;
}
#parcours {
    margin: 0px;
    background-color: paleturquoise;
}
#realisations {
    background-color: ivory;
}
#techno {
    background-color: lightgray;
}
#humain {
    background-color: lightyellow;
}
#loisirs {
    background-color: linen;
}
#personnal_data {
    background-color: beige;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    margin: 0;
    list-style: none;
    /* padding: 10px; */
    background-color: #333;
}

.footer_element {
    min-width: 300px;
    padding-left: 5px;
    padding-right: 5px;
}
p.footer_element {
    font-size: 0.9em;
    color: #eee;
}
a.footer_link {
    color: paleturquoise;
}

#explication_formation {
    padding: 1em;
}