/* #introduction {
    display: flex;
    justify-content: center;
} */

body {
    max-width: 800px;
    margin: auto;
    font-family: "trebuchet MS", verdana, times, arial, Courier, monospace;
    padding: 10px;
}

#profile-photo {
    display: block;
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 10%;
}

#profile-name,
#profile-abstract {
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
}

.link {
    padding: 1em;
    border: 1px;
}

img.link-icon {
    display: inline-block;
    fill: currentColor;
    height: 1.5em;
    width: 1.5em;
    line-height: 1;
    padding: 0.5em;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

p.box-title {
    font-weight: bold;
    text-align: center;
}

table {
    text-decoration-style: none;
    border-collapse: collapse;
}

td {
    border: 1px solid #999;
    padding: 0.75rem;
}

input {
    border: none;
    background: #ddd;
    cursor: pointer;
}
input:hover {
    background: deepskyblue;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}
