body {
    font-family: 'trebuchet MS', verdana, times, arial, Courier, monospace;
}

.link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.link-item {
    padding: 1em;
    border: 1px;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    list-style: none;

    padding: 10px;
}

.section-title {
    /* padding: 5px; */
}
img.section-logo {
    fill: background;
    display: block;
    margin: auto;
    /* width: 50%; */
    width: 10em;
}

.section-content {
    width: 500px;
}

img.link-icon {
    /* display: inline-block; */
    fill: white;
    height: 3em;
    /* width: 1.5em; */
    line-height: 1;
    /* padding: 0.5em; */
    /* position: relative; */
    top: -1px;
    /* vertical-align: middle; */
}

#profile-photo {
    display: block;
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 10%;
}

#profile-name,
#profile-abstract {
    text-align: center;
    padding-bottom: 30px;
}

h1,
h2 {
    text-align: center;
}

p.box-title {
    font-weight: bold;
    text-align: center;
}

table {
    text-decoration-style: none;
    border-collapse: collapse;
}

td {
    border: 0px solid #999;
    padding: 0.75rem;
}

input {
    border: none;
    background: #ddd;
    cursor: pointer;
}
input:hover {
    background: deepskyblue;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}



/* color the boxes */
#head {
    background-color: azure;
    margin: 0px;
}
#parcours {
    background-color: paleturquoise;
}
#realisations {
    background-color: ivory;
}
#techno {
    background-color: lightgray;
}
#humain {
    background-color: lightyellow;
}
#loisirs {
    background-color: linen;
}
